<ion-header class="no-background">
  <ion-toolbar class="background-degradadocrear">
    <ion-buttons slot="start" (click)="dismiss()">
         <ion-icon slot="end" name="arrow-back" color="blanco"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="background-degradadocrear">
    <ion-title style="text-align:center" class="centrado" color="blanco">Crea tu solicitud</ion-title>
  </ion-toolbar>

  <ion-item>
   <ion-label>Material</ion-label>
   <ion-select placeholder="Selecciona tipo" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="solicitud.material">
     <ion-select-option *ngFor="let material of materiales;index as i" value="{{material.nombre}}">{{material.nombre}} [{{material.unidad}}]</ion-select-option>
   </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección de despacho</ion-label>
    <ion-input [(ngModel)]="solicitud.direccion" >Mapa</ion-input>
  </ion-item>

<ion-button [disabled]="solicitud.material == '' " expand="block" (click)="addSolicitud()" fill="outline">Enviar Datos</ion-button>

</ion-content>
