<ion-header class="no-background">
  <ion-toolbar color="rojo">

    <ion-buttons>
      <ion-menu-button slot="start "color="blanco"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
       <ion-icon slot="end" name="notifications" color="blanco"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content color="fondo">
  <ion-toolbar color="rojo">
    <label>
      <ion-title color="blanco" class="fuente-roboto fuente-titulo">Lista de Solicitudes Activas</ion-title>
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button value="ofertas">
            <ion-label color="blanco">Oferta</ion-label>
          </ion-segment-button>
          <ion-segment-button value="demandas">
            <ion-label color="blanco">Demanda</ion-label>
          </ion-segment-button>
        </ion-segment>
    </label>
  </ion-toolbar>

  <ion-list  *ngIf="mostrarOfertas">
    <ion-item *ngFor="let item of ofertas" >
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}} oferta
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>

  <ion-list  *ngIf="mostrarDemandas">
    <ion-item *ngFor="let item of demandas" >
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>

</ion-content>
