<ion-header class="no-background">
  <ion-toolbar class="background-degradadocrear">
    <ion-buttons slot="start" (click)="dismiss()">
         <ion-icon slot="end" name="arrow-back" color="blanco"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="background-degradadocrear">
    <ion-title style="text-align:center" class="centrado" color="blanco">Crea tu oferta</ion-title>
  </ion-toolbar>

<div class="crear">

  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input [(ngModel)]="oferta.titulo"></ion-input>
  </ion-item>

  <ion-item>
   <ion-label>Origen del residuo / Tipo Proyecto</ion-label>
   <ion-select placeholder="Selecciona tipo" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="oferta.tipo">
     <ion-select-option *ngFor="let tipo of tipoResiduo;index as i" value="{{i}}">{{tipo}}</ion-select-option>
   </ion-select>
  </ion-item>
  <ion-item>
    <div class="form">
     <ion-label>Material(es)</ion-label>
      <input type="text" list="materiales" [(ngModel)]="material" name="" value="">
      <datalist id="materiales">
        <option *ngFor="let material of materiales" value="{{material.nombre}}">{{material.unidad}}</option>
      </datalist>
      <ion-button color="primary" (click)="addMaterial()" >Agregar</ion-button>
    </div>
  </ion-item>
  <ion-list>
    <ion-list-header>
     <ion-label>Materiales escojidos</ion-label>
   </ion-list-header>
    <ion-item-sliding *ngFor="let material of oferta.materiales; index as i">

      <ion-item>
        <ion-label> {{material}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirm(i)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Dirección de despacho</ion-label>
    <ion-input [(ngModel)]="oferta.direccion" (click)="mostrarModalMapa()"></ion-input>
  </ion-item>

  <ion-item>
   <ion-label>Fecha de despacho</ion-label>
    <ion-datetime displayFormat="D / MM / YYYY" min="2019" max="2020" [(ngModel)]="oferta.fechaDespacho" ></ion-datetime>
  </ion-item>

  <ion-item>
   <ion-label>Fecha Expiración de la oferta</ion-label>
    <ion-datetime displayFormat="D / MM / YYYY" min="2019" max="2020" [(ngModel)]="oferta.fechaExpiracion" ></ion-datetime>
  </ion-item>


</div>
<ion-button [disabled]="oferta.titulo == '' " expand="block" (click)="addOferta()" fill="outline">Enviar Datos</ion-button>

</ion-content>
