<ion-header class="no-background">
  <ion-toolbar class="background-degradadohome">
    <ion-buttons slot="start">
      <ion-menu-button slot="start "color="blanco"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
       <ion-icon slot="end" name="notifications" color="blanco"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="fondo">

  <label>
    <ion-grid>
      <ion-row>
        <ion-col>

        <ion-card color="blanco">
         <ion-item lines="none">
          <ion-label color="sidebar">Traslados Exitosos</ion-label>
         </ion-item>
         <ion-item lines="none">
         <ion-title color="sidebar" class="fuente-roboto ">35</ion-title>
         <ion-icon slot="icon-only" src="assets/icons/shipped.svg" color="blanco" class="icono-grande"></ion-icon>
         </ion-item>
        </ion-card>
        </ion-col>

        <ion-col>
        <ion-card class="background-degradadohome2">
            <ion-item class="background-degradadohome" lines="none">
              <ion-label color="blanco"> Solicitudes de residuos </ion-label>
            </ion-item>

           <ion-item class="background-degradadohome" lines="none">
              <ion-title color="blanco" class="fuente-roboto">12</ion-title>
              <ion-icon slot="icon-only" src="assets/icons/shipped.svg" color="blanco" class="icono-grande"></ion-icon>
           </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Actividades</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Rendimiento</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

    <ion-card color="blanco" class="margin-card">
        <ion-card-header color="blanco">
          <ion-item>
            <ion-label>Estadisticas</ion-label>

            <ion-buttons>
              <ion-button slot="end">
                <ion-icon slot="icon-only" name="more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card color="blanco" class="margin-card">
        <ion-card-header color="blanco">
          <ion-item>
            <ion-label>Actividades</ion-label>

            <ion-buttons>
              <ion-button slot="end">
                <ion-icon slot="icon-only" name="more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
        <canvas #radarCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card color="blanco" class="margin-card">
        <ion-card-header color="blanco">
          <ion-item>
            <ion-label>Actividades</ion-label>

            <ion-buttons>
              <ion-button slot="end">
                <ion-icon slot="icon-only" name="more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
        <canvas #polarCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card color="blanco" class="margin-card">
        <ion-card-header color="blanco">
          <ion-item>
            <ion-label>Actividades</ion-label>

            <ion-buttons>
              <ion-button slot="end">
                <ion-icon slot="icon-only" name="more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
        <canvas #bubbleCanvas></canvas>
      </ion-card-content>
    </ion-card>
</label>

</ion-content>
